npm-debug.log*
yarn-error.log*
pnpm-debug.yaml

node_modules/

dist/
.vite/
.output/

.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

*.db

._*

.vscode/
.idea/

coverage/